:root {
  --verde: #40b189;
  --preto: #2b2b43;
  --grey: #83859c;
  --white-background: #edeef2;
}

.container-dashboard {
  display: flex;
}

.container-direita-dashboard {
  display: flex;
  flex-direction: column;
  background-color: #080808ec;
  width: 100vw;
}































.Dashboard--Container--direita__menu {
  display: flex;
  width: 100rem;
  height: 50rem;
  background: var(--cinza-navbar);
  border-radius: 2rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 7rem;
}

.Dashboard--Container {
  display: flex;
  background: var(--preto);
}

.Dashboard--Container .Dashboard--Container--direita {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: 2rem auto;
}

.Dashboard--Container
  .Dashboard--Container--direita
  .Dashboard--Container--direita__usuario {
  display: flex;
  justify-content: center;
}

.Dashboard--Container
  .Dashboard--Container--direita
  .Dashboard--Container--direita__usuario
  h1 {
  font-size: 3rem;
  color: #fff;
  line-height: 4.5rem;
  margin-left: 2rem;
}

.Dashboard--Container
  .Dashboard--Container--direita
  .Dashboard--Container--direita__footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
}

.Dashboard--Container
  .Dashboard--Container--direita
  .Dashboard--Container--direita__footer
  span {
  color: var(--verde);
}

@media (max-width: 950px) {
  .Dashboard--Container
    .Dashboard--Container--direita
    .Dashboard--Container--direita__menu {
    width: 62rem;
    height: 29rem;
  }

  .Dashboard--Container
    .Dashboard--Container--direita
    .Dashboard--Container--direita__usuario
    h1 {
    font-size: 2rem;
    line-height: 5rem;
  }

  .Dashboard--Container
    .Dashboard--Container--direita
    .Dashboard--Container--direita__footer {
    font-size: 2rem;
  }

  .Dashboard--Container--direita__menu {
    width: 62rem;
    height: 29rem;
  }
}

@media (max-width: 750px) {
  .Dashboard--Container
    .Dashboard--Container--direita
    .Dashboard--Container--direita__menu {
    width: 55rem;
    height: 29rem;
  }

  .Dashboard--Container--direita__menu {
    width: 55rem;
    height: 29rem;
  }
}

@media (max-width: 670px) {
  .Dashboard--Container
    .Dashboard--Container--direita
    .Dashboard--Container--direita__menu {
    width: 50rem;
    height: 29rem;
    gap: 1rem;
  }

  .Dashboard--Container--direita__menu {
    width: 50rem;
    height: 29rem;
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .Dashboard--Container {
    display: flex;
    flex-direction: column;
  }

  .Dashboard--Container
    .Dashboard--Container--direita
    .Dashboard--Container--direita__menu {
    display: flex;
    flex-direction: column;
  }

  .Dashboard--Container
    .Dashboard--Container--direita
    .Dashboard--Container--direita__usuario
    h1 {
    font-size: 3rem;
  }

  .Dashboard--Container
    .Dashboard--Container--direita
    .Dashboard--Container--direita__usuario
    img {
    display: none;
  }

  .Dashboard--Container
    .Dashboard--Container--direita
    .Dashboard--Container--direita__menu {
    width: 30rem;
    height: 58rem;
    gap: 2rem;
    margin: 0 auto;
  }

  .Dashboard--Container .Dashboard--Container--direita {
    gap: 3rem;
  }

  .Dashboard--Container--direita__menu {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 58rem;
    gap: 2rem;
    margin: 0 auto;
  }
}
