.container-not-found{
    display: flex;
    flex-direction: column;
    background: var(--cinza-navbar);
    width: 100vw;
    height: 100vh;
}

.container-not-found .box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    width: 50rem;
}

.container-not-found h1{
    font-size: 3rem;
    text-align: center;
    color: white;
}

.container-not-found button{
    display: flex;
    justify-content: center;
    width: 40rem;
    background: var(--preto);
    color: var(--verde);
    padding: 1rem;
    border-radius: 1rem;
    
    cursor: pointer;
    margin: auto;
    font-size: 1.5rem;
}